﻿@model Three.ViewModels.Project.ProjectView
@{
    string lang = string.Empty;
    if (!string.IsNullOrEmpty(Model.Link)) {
       lang = Model.Link.IndexOf("en-US") != -1 ? "en" : "vi";
    }
}

<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>@Model.Title</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Index", "Project")">案例介紹</a> ></li>
                <li><a href="@Url.Action("ProjectType", "Project", new { type = Model.Type })">@Model.ProjectTypeTitle</a> ></li>
                <li>@Model.Title</li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <section class="flexslider bannerImg2">
                        <ul class="slides">
                            @foreach (var item in Model.ImageList)
                            {
                                <li>
                                    <img src="~/FileUploads/BannerPhoto/@item.FileName" />
                                </li>
                            }
                        </ul>
                    </section>
                    <div class="single-post">
                        <h2 class="blog-title">@Model.Title</h2>
                        <h3>@Model.SubTitle</h3>
                        <p>@Html.Raw(Model.Content)</p>
                        <ul class="recent-post">
                            <li class="border-bottom location">
                                <h5>地區</h5>
                                <h6>@Model.Area</h6>
                            </li>
                            <li class="border-bottom location">
                                <h5>位置</h5>
                                <h6>@Model.Address </h6>
                            </li>
                            <li class="border-bottom location">
                                <h5>面積</h5>
                                <h6>@Model.Footage</h6>
                            </li>
                        </ul>
                        @if (!string.IsNullOrEmpty(Model.Link)) {
                            <a href="http://translate.google.com/translate?hl=zh-TW&sl=@lang&tl=zh-TW&u=@Model.Link" class="btn btn-secondary" target="_blank"> 進一步了解</a>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    
                    <div class="blog-post">
                        <!-- Categories -->
                        <h2>案例介紹</h2>

                        <ul class="category-post">
                            @foreach (var item in Model.ProjectTypeList)
                            {
                                <li>
                                    <a href="@Url.Action("ProjectType", "Project", new { type = item.ID})">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>@item.Title</h4>

                                            <div class="margin-left-auto blue-text">
                                                <span>(@Model.ProjectList.Where(p => p.Type == item.ID).Count())</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    }