﻿@model Three.ViewModels.Project.ProjectPhotoView


<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>@Model.ProjectTypeTitle</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Index", "Project")">案例介紹</a> ></li>
                <li><a href="@Url.Action("ProjectType", "Project", new { type = Model.Type })">@Model.ProjectTypeTitle</a> ></li>
                <li>@Model.Title</li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="single-post">
                        <h2 class="blog-title">@Model.Title</h2>
                        <h3>@Model.SubTitle</h3>
                        <p>
                            @Html.Raw(Model.Content)
                        </p>
                    </div>

                    @foreach (var item in Model.ImageList)
                    {

                        <div class="single-post2 col-md-6">
                            <div class="blog-img">
                                <a href="~/FileUploads/BannerPhoto/@item.FileName" data-fancybox="gallery" data-caption="@item.Description">
                                    <img src="~/FileUploads/BannerPhoto/@item.FileName" alt="" />
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-4">
                    <div class="blog-post">
                        <!-- Categories -->
                        <h2>案例介紹</h2>
                        <ul class="category-post">
                            @foreach (var item in Model.ProjectTypeList)
                            {

                                <li>
                                    <a href="@Url.Action("ProjectType", "Project", new { type = item.ID})">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>@item.Title</h4>

                                            <div class="margin-left-auto blue-text">
                                                <span>(@Model.ProjectList.Where(p => p.Type == item.ID).Count())</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/Content/js/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>
}