﻿@model Three.ViewModels.Project.ProjectIndexView
    
<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>WORKS 案例介紹</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Index", "Project")">案例介紹</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                @foreach(var item in Model.TypeList)
                { 
                <div class="col-sm-6 col-md-3">
                    <div class="news-sec-box">
                        <a href="@Url.Action("ProjectType", "Project", new { type = item.ID})"> <img src="~/FileUploads/ProjectTypePhoto/@item.Image" class="img-responsive"></a>
                        <h3><a href="@Url.Action("ProjectType", "Project", new { type = item.ID})">@item.Title</a></h3>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <select id="YourLocation" name="YourLocation" class="container selec">
                @foreach (var item in Model.AreaList)
                {
                    <option value="@item.Value">@item.Text</option>
                }

            </select>
            <div class="clear">
                <div id="map" class="contact-map col-sm-12 col-md-8" style="height:400px; position: relative">

                </div>
                <div class="quote-post1 col-sm-12 col-md-4" style="height:400px;">
                    <div class="quote-text">
                        <h4 id="mapside_title"></h4>
                        <h4 id="mapside_subtitle"></h4>
                        <h4 id="mapside_footage"></h4>
                        <p id="mapside_content"></p>
                        <div class="blog-btn text-center"> <a id="mapside_href" href="#" class="btn-default2">Read More</a> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/service/output?parameters"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCdy1ECktNztJN0lPMk2jWl2AhFYMt1YCQ"></script>
    <script>
        $(function () {
            LoadGoogleMap(1);
        });

        $('#YourLocation').change(function () {
            LoadGoogleMap($('#YourLocation').val());
            
        });

        function LoadGoogleMap(value) {
            var map;
            var a = -1;
            var position = [];

            $.ajax({
                url: "/Project/GetProjectAreaList",
                data: { areaId: value },
                type: "post",
                async: false,
                dataType: "json",
                success: function (Jdata) {
                    console.log("SUCCESS!!!");

                    var j = 0;
                    $.each(Jdata, function (index, data) {
                        position.push({
                            id: data.ID,
                            title: data.Title,
                            sub_title: data.SubTitle,
                            footage: data.Footage,
                            content: data.Content,
                            label: data.Address,
                            address: data.Address,
                        });
                        if (j == 0) {
                            var content = data.Content;
                            var footage = (data.Footage).toLocaleString();

                            $('#mapside_title').text(data.Title);
                            $('#mapside_subtitle').text(data.SubTitle);
                            $('#mapside_footage').text('建坪：' + footage);;
                            $('#mapside_content').text(content.replace(/<[^>]*>/g, '').replace(/&.*?;/g, '').trim());
                            $('#mapside_href').removeAttr('href');
                            $('#mapside_href').attr('href', '/Project/Detail/' + data.ID);
                        }
                        ++j;
                    });
                },
                error: function () {
                    console.log("ERROR!!!");
                }
            });

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: {
                    lat: 25.0336962,
                    lng: 121.5643673
                },
                mapTypeId: google.maps.MapTypeId.TERRAIN,
            });            

            var bounds = new google.maps.LatLngBounds();      //聲明一個bounds

            for (var i = 0; i < position.length; ++i) {     
                var thisPosition = position[i];
                $.ajaxSettings.async = false;
                $.getJSON("https://maps.google.com/maps/api/geocode/json?address=" + thisPosition.address + "&key=AIzaSyCdy1ECktNztJN0lPMk2jWl2AhFYMt1YCQ", function (data) {

                    bounds.extend(new google.maps.LatLng(data.results[0].geometry.location.lat, data.results[0].geometry.location.lng));

                    if (i == 0) {
                        map.setCenter(data.results[0].geometry.location);
                    }
                    var marker = new google.maps.Marker({
                        title: thisPosition.title + ' / ' + thisPosition.label,
                        map: map,
                        position: data.results[0].geometry.location
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: '<div style="width: ' + thisPosition.title.length * 11 + 'px"><h4 style="text-align:center;">' + thisPosition.title + '</h4></div>',
                    });

                    var id = thisPosition.id;
                    var title = thisPosition.title;
                    var sub_title = thisPosition.sub_title;
                    var content = (thisPosition.content).toString();
                    var footage = (thisPosition.footage).toLocaleString()

                    $.ajaxSettings.async = false;
                    marker.addListener('click', function () {
                        a = a * -1;
                        if (a > 0) {
                            infowindow.open(map, marker);
                        } else {
                            infowindow.close();
                        }                       
                       
                        $('#mapside_title').text(title);
                        $('#mapside_subtitle').text(sub_title);
                        $('#mapside_footage').text('建坪：' + footage);
                        $('#mapside_content').text(content.replace(/<[^>]*>/g, '').replace(/&.*?;/g, '').trim());
                        $('#mapside_href').removeAttr('href');
                        $('#mapside_href').attr('href', '/Project/Detail/' + id);
                    });
                });
            }

            if (position.length > 1) {    //如果坐標點多餘1个，則使用  google map 的fitBounds，自動計算zoom值

                map.fitBounds(bounds);
            }
        }
    </script>
}
