﻿@model Three.ViewModels.Project.ProjectTypeListView


<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>@Model.Title</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Index", "Project")">案例介紹</a> ></li>
                <li>@Model.Title</li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                @if (Model.PageResult.Data.Count() > 0)
                {

                    <div class="col-sm-8">
                        <div class="col-sm-12 y-border">
                            @foreach (var item in Model.PageResult.Data)
                            {

                                string content_text = string.IsNullOrEmpty(item.Content) ? string.Empty : System.Text.RegularExpressions.Regex.Replace(item.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", string.Empty);
                                var page = item.Type == 2 ? "DetailPhoto" : "Detail";
                                <div class="single-post col-md-6">
                                    <div>
                                        <a href="@Url.Action(page , "Project", new { id = item.ID })">
                                            <img src="~/FileUploads/ProjectPhoto/@item.MainImage" class="img-responsive">
                                        </a>
                                    </div>
                                    <h3 class="blog-title">@item.Title</h3>
                                    <h3>@item.SubTitle</h3>
                                    <p class="ellipsis">@System.Text.RegularExpressions.Regex.Replace(content_text, @"\&.*?\;", String.Empty)</p>
                                    <div class="blog-btn">
                                        <a href="@Url.Action(page , "Project", new { id = item.ID })" class="btn-default2">Read More</a>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- ========== PAGINATION ========== -->
                        @Html.Partial("Project_Page", Model.PageResult)
                    </div>
                }
                else
                {
                    <div class="col-sm-8">
                        <div class="col-sm-12 y-border">
                            <div class="single-post col-md-6">
                                <h2>查無資料</h2>
                            </div>
                        </div>
                    </div>
                }


                <div class="col-sm-4">
                    <div class="blog-post">
                        <!-- Categories -->
                        <h2>案例介紹</h2>
                        <ul class="category-post">
                            @foreach (var item in Model.ProjectTypeList)
                            {
                                <li>
                                    <a href="@Url.Action("ProjectType", "Project", new { type = item.ID})">
                                        <div class="inline-text">
                                            <i class="glyphicon glyphicon-play blue-text"></i>
                                            <h4>@item.Title</h4>

                                            <div class="margin-left-auto blue-text">
                                                <span>(@Model.ProjectList.Where(p => p.Type == item.ID).Count())</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>