﻿@model Three.ViewModels.Project.SearchView

<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>SEARCH 搜尋</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Search", "Project")">搜尋</a></li>
            </ul>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    @using (Html.BeginForm("Search", "Project", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        <div class="input-group search-text">
                            @Html.TextBoxFor(model => model.SearchValue, new { @class = "form-control search", @id = "inputTitle", @placeholder = " 請輸入搜尋案例項目標題" })
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-search" type="submit" style="margin-top: 0px;"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script src="~/Content/js/easyResponsiveTabs.js"></script>
    <script>
        $(function () {
            $('footer').addClass('footer2');
        });
    </script>
}
