﻿@model Three.Areas.Admin.ViewModels.Banner.BannerView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增輪播圖片" : "編輯輪播圖片";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        輪播圖片管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "BannerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Type)
                                    @Html.DropDownListFor(model => model.Type, Model.BannerTypeOptions, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title)
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FileName)
                                    <input type="file" id="photo_file" name="file" accept="image/x-png,image/jpeg">
                                    <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(手機版：寬480像素*高800像素，電腦版：寬1920像素*高800像素)</p>
                                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                    @if (!string.IsNullOrEmpty(Model.FileName))
                                    {
                                        <img src="~/FileUploads/BannerPhoto/@Model.FileName" class="img-thumbnail" style="width:400px" />
                                        @Html.HiddenFor(model => model.FileName)
                                    }
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sort)
                                    @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="check-box-status">
                                        @Html.DisplayNameFor(model => model.Status)
                                    </label>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("刪除本篇文章", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            //CKEDITOR
            $('#Description').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id);
            });
        });
    </script>
}