﻿@model Three.Areas.Admin.ViewModels.Banner.BannerView
@{ 
    string image_size = Model.ProjectType == 2 ? "高900 x 寬1200 px,jpg檔" : "高965 x 寬1424 px,jpg檔";
}

<section class="content-header">
    <h1>
        @Model.ProjectTitle 圖片管理
    </h1>
</section>

<section class="content">
    <div class="row">

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">圖片管理清單</h3>
                    <button type="button" class="btn btn-default js-modal" data-toggle="modal" data-target="#modal-default"
                            data-id="0"
                            data-sort="0">
                        新增
                    </button>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>敘述</th>
                                <th>排序</th>
                                <th>狀態</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model.DataList)
                            {
                                var statusStyle = item.Status ? "label-success" : "label label-danger";
                                var statusDisplay = item.Status ? "啟用" : "停用";
                                <tr>
                                    <td>
                                        <img src="~/FileUploads/BannerPhoto/@item.FileName" class="img-thumbnail" style="width:150px" />
                                    </td>
                                    <td>@item.Description</td>
                                    <td>@item.Sort</td>
                                    <td>
                                        <span class="label @statusStyle">@statusDisplay</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default js-modal" data-toggle="modal" data-target="#modal-default"
                                                data-id="@item.ID"
                                                data-fileName="@item.FileName"
                                                data-description="@item.Description"
                                                data-sort="@item.Sort"
                                                data-status="@item.Status">
                                            編輯
                                        </button>
                                        @Html.ActionLink("刪除", "Delete", new { id = item.ID, projectId = item.ProjectID }, new { @class = "btn btn-danger js-delete-confirm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("回到該編輯頁", "Edit", "ProjectAdmin", new { id = Model.ProjectID }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ProjectImage", "BannerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID, new { @id = "js-id" })
                @Html.HiddenFor(model => model.ProjectID)
                @Html.HiddenFor(model => model.FileName, new { @id = "js-fileName" })

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">編輯</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group js-show">
                        <label>圖片</label>
                        <img src="" class="img-thumbnail" style="width:200px;" id="js-image" />
                    </div>
                    <div class="form-group">
                        <label>圖片上傳(檔案大小不得超過3MB)(建議尺寸:@image_size)</label>
                        <input type="file" name="file">
                    </div>
                    <div class="form-group">
                        <label>敘述</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "js-description" })
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        @Html.TextBoxFor(model => model.Sort, new { @class = "form-control", @id = "js-sort" })
                    </div>
                    <div class="form-group">
                        <label>
                            @Html.CheckBoxFor(model => model.Status, new { @class = "flat-red", @id = "js-status" })
                            @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">儲存</button>
                </div>
            }

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script>
        const imageFolder = '/FileUploads/BannerPhoto/';
        $
        $(function () {
            $('.js-modal').on('click', function () {
                var id = $(this).attr('data-id');
                $('#js-id').val(id);
                if (id == 0) {
                    $('.js-show').hide();
                }
                else {

                    $('.js-show').show();
                }

                var sort = $(this).attr('data-sort');
                $('#js-sort').val(sort);

                var description = $(this).attr('data-description');
                $('#js-description').val(description);

                var status = $(this).attr('data-status');
                var checked = status === "True";
                $('#js-status').prop('checked', checked);

                var fileName = $(this).attr('data-fileName');
                $('#js-fileName').val(fileName);
                $('#js-image').attr('src', imageFolder + fileName);
            });

        });
    </script>
}