﻿@model IEnumerable<Three.ViewModels.News.NewsView>

<div class="col-sm-4">
    <div class="blog-post">
        <!-- Categories -->
        <h2>最新消息</h2>
        <ul class="category-post">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Detail" , new { id = item.ID })">
                        <div class="inline-text">
                            <i class="glyphicon glyphicon-play blue-text"></i>
                            <h4>@item.Title</h4>
                            <div class="margin-left-auto blue-text">
                                <span>@item.OnlineTime.ToString("yyyy.MM.dd")</span>
                            </div>
                        </div>
                    </a>
                </li>
            }         
        </ul>
    </div>
</div>