﻿@model Three.ViewModels.News.NewsView
<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>NEWS 最新消息</h2>
            <ul>
                <li><a href="@Url.Action("Index","Home")">首頁</a> > </li>
                <li><a href="@Url.Action("Index")">最新消息</a> > </li>
                <li>@Model.Title</li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <img src="~/FileUploads/NewsPhoto/@Model.MainImage" class="img-responsive">
                    </div>
                    <div class="single-post">
                        <h2 class="blog-title">@Model.Title</h2>
                        <h3>@Model.SubTitle</h3>
                        <div class="time"><time><i class="fa fa-calendar"></i>@Model.OnlineTime.ToString("yyyy.MM.dd")</time></div>
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
             

                @Html.Action("_News")


            </div>
        </div>
    </section>
</div>