﻿@model Three.ViewModels.News.NewsIndexView
<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>NEWS 最新消息</h2>
            <ul>
                <li><a href="@Url.Action("Index","Home")">首頁</a> ></li>
                <li><a href="@Url.Action("Index")">最新消息</a></li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 y-border">

                        @foreach (var item in Model.PageResult.Data)
                        {
                        <div class="single-post col-md-4">
                            <div>
                                <a href="@Url.Action("Detail", new { id = item.ID})">
                                    <img src="~/FileUploads/NewsPhoto/@item.MainImage" class="img-responsive">
                                </a>
                            </div>
                            <h3 class="blog-title">@item.Title</h3>
                            <h3>@item.SubTitle</h3>
                            <div class="time"><time><i class="fa fa-calendar"></i>@item.OnlineTime.ToString("yyyy.MM.dd")</time></div>
                            @if (!string.IsNullOrEmpty(item.Content))
                            {
                                string content_text = string.IsNullOrEmpty(item.Content) ? string.Empty : System.Text.RegularExpressions.Regex.Replace(item.Content, @"\<.*?\>", String.Empty).Trim();
                                <p class="ellipsis">@System.Text.RegularExpressions.Regex.Replace(content_text, @"\&.*?\;", String.Empty)</p>
                            }
                            <div class="blog-btn">
                                <a href="@Url.Action("Detail", new { id = item.ID})" class="btn-default2">Read More</a>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- ========== PAGINATION ========== -->
                    @Html.Partial("_Page", Model.PageResult)
                </div>
            </div>
        </div>
    </section>
</div>