﻿@model Three.Areas.Admin.ViewModels.ProjectType.ProjectTypeView
@{
    string title = Model.ID == 0 ? "新增案例類型" : "編輯案例類型";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        案例類型管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "ProjectTypeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Image)
                                        <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(寬343 x 高206 px, jpg檔)</p>
                                        <input type="file" id="photo_file" name="file" accept="image/x-png,image/jpeg">

                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.Image))
                                        {
                                            <img src="~/FileUploads/ProjectTypePhoto/@Model.Image" class="img-thumbnail" style="width:400px" />
                                            @Html.HiddenFor(model => model.Image)
                                            <br />
                                            @Html.ActionLink("刪除圖片", "DeleteImage", "ProjectTypeAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sort)
                                        @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="check-box-status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

