﻿@model Three.Areas.Admin.ViewModels.News.NewsView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增最新消息" : "編輯最新消息";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        最新消息管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "NewsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubTitle)
                                        @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SubTitle, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Content)
                                        @Html.TextAreaFor(model => model.Content)
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainImage)
                                        <input type="file" id="photo_file" name="file" accept="image/x-png,image/jpeg">
                                        <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(高965 x 寬1424 px,jpg檔)</p>
                                        @Html.ValidationMessageFor(model => model.MainImage, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.MainImage))
                                        {
                                            <img src="~/FileUploads/NewsPhoto/@Model.MainImage" class="img-thumbnail" style="width:400px" />
                                            @Html.HiddenFor(model => model.MainImage)
                                            <br />
                                            @Html.ActionLink("刪除圖片", "DeleteImage", "NewsAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OnlineTime)
                                        @Html.TextBoxFor(model => model.OnlineTime, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OnlineTime, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="check-box-status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("刪除本篇文章", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script>
        $(function () {
            //ckeditor初始化
            var config = { width: '750px', filebrowserImageUploadUrl: '/NewsAdmin/UploadPicture' };
            CKEDITOR.editor.replace(
                'Content',
                config
            );
        })
    </script>

    <!--DatePicker-->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#OnlineTime").datepicker({
                dateFormat: "yy/mm/dd"
            });
        });
    </script>
}

