﻿@model Three.Areas.Admin.ViewModels.News.NewsIndexView

<section class="content-header">
    <h1>
        最新消息管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "NewsAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "inputTitle", @placeholder = "標題或副標題" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.Status, Model.StatusOptions, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增最新消息", "Edit", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">最新消息清單</h3>
                </div>
                <div class="box-body">
                    <table id="dataList" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => x.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.SubTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.OnlineTime)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    var statusStyle = item.Status ? "label-success" : "label label-danger";
                                    var statusDisplay = item.Status ? "啟用" : "停用";
                            <tr>
                                <td>
                                    @item.ID
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.SubTitle
                                </td>
                                <td>
                                    <span class="label @statusStyle">@statusDisplay</span>
                                </td>
                                <td>
                                    @item.OnlineTime.ToShortDateString()
                                </td>
                                <td>
                                    @Html.ActionLink("編輯", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("刪除", "Delete", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                </td>
                            </tr>
                                }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => x.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.SubTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.OnlineTime)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(function () {
            $('#dataList').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                'ordering': true,
                'order': [[4, 'desc']],
                'info': true,
                'autoWidth': false
            });
        })
    </script>
}

