﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>三一越家物業管理顧問有限公司</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" type="text/css" href="~/Content/css/flexslider.css " />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.fancybox.min.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="~/Content/css/ie7/ie7.css">
    <!--<![endif]-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("head", required: false)
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        三一越家物業管理顧問有限公司
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top: 15px;">
                            <a href="@Url.Action("Search","Project")"><i class="fa fa-search"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","News")">
                                最新消息<br>
                                <span>NEWS</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Service","Home")">
                                服務項目<br>
                                <span>SERVICE</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("About","Home")">
                                公司簡介<br><span>ABOUT</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Project")">
                                案例介紹<br>
                                <span>WORKS</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Home")">
                                聯絡我們<br>
                                <span>CONTACT</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>

    @RenderBody()

    <div class="clear"></div>
    <footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Copyright &copy; 2019 31yuejia
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
