﻿@model Three.Models.Cmind.Page
@{
    var prePageDisable = Model.CurrentPage == 1;
    var prePageDisableCss = prePageDisable ? "<span>Previous</span>" : null;
    var prePage = (Model.CurrentPage - 1);

    var nextPageDisable = Model.CurrentPage == Model.TotalPages;
    var nextPageDisableCss = nextPageDisable ? "<span>Next</span>" : null;
    var nextPage = (Model.CurrentPage + 1);

    var currentPage = Model.CurrentPage;
}

@if (Model.TotalPages != 0)
{
    <div class="col-sm-12">
        <div>
            <ul class="pagination ins-page">
                @if (prePageDisableCss != null)
                {

                    <li class="active">
                        @Html.Raw(prePageDisableCss)
                    </li>
                }
                else
                {
                    <li>
                        <a href="?CurrentPage=@prePage" data-pager="@prePage" style="border-radius:20px">Previous</a>
                    </li>
                }
                
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var currentPageActive = (i == currentPage) ? "active" : null;
                    var stylecss = String.IsNullOrEmpty(currentPageActive) ? "" : "border-radius:50px;margin-right:10px";

                    if (currentPageActive != null)
                    {
                        @*<li class="@currentPageActive" style="@stylecss"><a href="?CurrentPage=@i">@Model.CurrentPage</a></li>*@
                        <li><span style="@stylecss">@Model.CurrentPage</span></li>

                    }
                    else
                    {
                        <li><a href="?CurrentPage=@i">@i</a></li>
                    }
                }

                @if (nextPageDisableCss != null)
                {
                    <li class="active">
                        @Html.Raw(nextPageDisableCss)
                    </li>
                }
                else
                {
                    <li>
                        <a href="?CurrentPage=@nextPage" data-pager="@nextPage">Next</a>
                    </li>
                }
            </ul>
        </div>

    </div>
}
