﻿<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="color:#ffffff; font-weight:bold">三一越家 MENU</li>
        <li>
            <a href="@Url.Action("Index", "ProjectAdmin" )">
                <i class="fa fa-circle-o"></i> <span>案例管理</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ProjectTypeAdmin")">
                <i class="fa fa-circle-o"></i> <span>案例類型管理</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "NewsAdmin" )">
                <i class="fa fa-circle-o"></i> <span>最新消息</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "BannerAdmin")">
                <i class="fa fa-circle-o"></i> <span>Banner管理</span>
            </a>
        </li>

        <li class="header"></li>
        <li><a href="@Url.Action("Logout", "AuthAdmin" )"><i class="fa fa-book"></i> <span>登出</span></a></li>
    </ul>
</section>