﻿<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>ABOUT 公司簡介</h2>
            <ul>
                <li><a href="@Url.Action("Index")">首頁</a> ></li>
                <li><a href="@Url.Action("About")">公司簡介</a></li>
            </ul>
        </div>
    </section>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div>
                    <div class="single-post ">
                        <div>
                            <img src="~/Content/images/slider-img1.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-12 col-sm-12 story">
                            <h3>我們的故事</h3>
                            <p>2008年4月19日，一群從未到過越南的朋友新奇的在飛機降落前透過飛機的窗戶看著胡志明機場的蘇聯製直昇機及客機，這是過去40多年從未有過的經驗。曾經俄製的設備都是在圖鑑、書本才看的到的東西，現在活生生出現在眼前。直挺挺看著窗外的台北土包子，在一聲聲的「新感恩」下走出了飛機。看著穿越南國服「奧黛」的服務人員，似乎此行的目的拋了拋到腦後了。</p>
                        </div>
                        <div class="col-md-12 aboutImg" style="margin-top: 25px;">
                            <div class="col-md-7 col-sm-12">
                                <h3>如何從胡志明提起越南的第一桶金</h3>
                                <p>經濟的趨勢，從來就不是非掌權者可以左右的，西方如此，東方也是。然而 ，即便你我一般的庶民即便不能動搖時代的巨輪但卻可以觀察到巨輪往哪個方向去。目前的台灣投資不用經濟大師在前提點，一般市井小民也逐漸感受到景氣寒冬的氛圍。個人認為投資人對於投資的態度，應該就跟游牧民族一般，哪兒有有肥美的水草就將自家牛羊趕到那兒絭牧。因此環顧近年的環境，台灣已經在動盪的政治環境及停滯的經濟政策下讓經濟的巨輪呈現疲態的老樣。如此，我們這樣一般小民的下一個投資標的又在哪裡呢？</p>
                                <p>我們不說太專業的經濟語言，那是財團、政府關於跟經濟專家彼此算計的手段。我們算的、想的、看的只在我們世界裡的材、米、油、鹽、醬、醋、茶。那麼，那裡是我們可以看到的小確幸呢？遠的歐美不說，近的不外乎中國、日本、跟東南亞。但是這三個地方的日本自多年前經濟泡沫化後至今房地產仍未經起色；中國大陸這些年因為經濟發展快速而造成房地產一路狂飆，但近期的中美貿易戰將其打回原形的風險已經突顯出來了。因為周邊原本在中國投資不動產的台灣朋友幾乎都在處理那邊的資產並將其資金撤出……。</p>
                                <p>因此，就這5～10年來看，經濟逐漸崛起的東南亞是否有機會為我們創造一個新的契機？回首近年，在東南亞投資的區塊不外乎馬來西亞的吉隆坡、印尼雅加達、泰國曼谷、柬埔寨金邊、越南胡志明。但為何我們唯獨鍾情胡志明市呢？其實原因很簡單，那就是「風險」。本團隊10年開始於越南活動，從未建議以越南為投資對象。因為過去10年不要說整個越南，連首善的胡志明市一些基礎建設如捷運、大型橋樑、快速道路、都市規劃等皆未臻完善，最重要的相關投資規定根本闕之弗如。然而這幾年的越南，之前的東方小巴黎，不但在2015年因應因外國人大舉投資進駐而產生居住需求、在地經濟發展迅速因生活改善。</p>

                            </div>

                            <div class="col-md-5 col-sm-12">
                                <div>
                                    <img src="~/Content/images/about.jpg" class="img-responsive" style="margin-top: 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 25px;">
                            <div class="col-md-5 col-sm-12">
                                <iframe width="100%" height="425px" src="https://www.youtube.com/embed/6gpJxgvHWzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <p>
                                    這是2016的影片，至今近2019觀察這2年越南發展更證明當初眼光是正確的）。加上越南政府跟隨中國經濟發展模式讓胡志明市、河內開始藉由都市計劃的手段調整成「新越南好居住」的面相。於是這幾年越南的不動產開始活絡起來，但是過度的炒作會不會造成泡沫化的疑慮？不會的，因為越南政府為避免如中國房地產陷入狂飆炒作因而對不動產的持有有相當嚴格的管制。<br>例如，外國人取得不動產可以有所有權（權狀）及登記個人名下，但只能夠賣新建案或跟所有權是外國人購買不能跟越南人購買；而即便所釋出新建案的比例也只有30％可以售予外國人。大大朝向穩定升值但不炒作的面相前進。
                                </p>
                                <p>因此，在這景氣不明的年代。投資，並非盲目！不只看數字，也不道聽塗說，我們進入越南（應該說目前只投資胡志明市）的市場的初衷並非在帶國人來購買遠在3小時航程外陌生國度的不動產，而是以團隊自身購屋經驗分享與協助門外徘徊的人進到這個市場，2017年我們開始買了胡志明市的第一間房屋（約30坪實坪，3房，第四郡。購得金額約新台幣800多萬），經過3個月的交屋、裝修後於2017年的10月開始出租，月租金是美金1500元。跟網路上所報導的<a href="https://read01.com/O3Ajk05.html#.W5tg0_ZuI2w">資訊</a>差不多。重要的購屋2個月後原建設公司服務人員聯繫有人願意用我們所購價格加10％向我們購買，這是真實的案例。表示未來幾年胡志明的不動產應該會在管制下快速卻不狂飆的步伐成長。這，是我們的經驗參數，希望可以給對越南投資有興趣的朋友做一粗淺的參考！</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>