﻿<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>CONTACT 聯絡我們</h2>
            <ul>
                <li><a href="@Url.Action("Index")">首頁</a> ></li>
                <li><a href="@Url.Action("Contact")">聯絡我們</a></li>
            </ul>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-info">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="contact-address">
                                    <h3 class="contactTittle">/&nbsp;&nbsp;&nbsp;台灣北區據點</h3>
                                    <div>
                                        <i class="icon ti-home"></i>
                                        <p>新北市新店區三民路137號2樓</p>
                                        <i class="icon ti-email"></i>
                                        <p><a href="mailto:31yuejia@gmail.com">31yuejia@gmail.com</a></p>
                                        <i class="icon fa fa-phone"></i>
                                        <p>02-29102330</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="contact-address">
                                    <h3 class="contactTittle">/&nbsp;&nbsp;&nbsp;台灣中區據點</h3>
                                    <div>
                                        <i class="icon ti-home"></i>
                                        <p>台中市南屯區黎明路二段425號11樓-7</p>
                                        <i class="icon ti-email"></i>
                                        <p><a href="mailto:31yuejia@gmail.com">31yuejia@gmail.com</a></p>
                                        <i class="icon fa fa-phone"></i>
                                        <p>04-22519557</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="contact-address">
                                    <h3 class="contactTittle">/&nbsp;&nbsp;&nbsp;台灣東區據點</h3>
                                    <div>
                                        <i class="icon ti-home"></i>
                                        <p>花蓮市府前路408巷18弄6號</p>
                                        <i class="icon ti-email"></i>
                                        <p><a href="mailto:31yuejia@gmail.com">31yuejia@gmail.com</a></p>
                                        <i class="icon fa fa-phone"></i>
                                        <p>03-8228999 / 03-8224699</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script src="~/Content/js/easyResponsiveTabs.js"></script>
    <script>
        $(function () {
            $('footer').addClass('footer2');
        });
    </script>
}
