﻿@model Three.ViewModels.Home.HomeView

<div id="page-content">

    <section class="flexslider bannerImgD">
        <ul class="slides">
            @foreach (var item in Model.PCBannerList)
            {
            <li>
                <img src="~/FileUploads/BannerPhoto/@item.FileName" />
                <div class="slide-info">
                    <div class="slide-con">
                        <h2>@item.Title</h2>
                        @Html.Raw(item.Description)
                    </div>
                </div>
            </li>
            }
        </ul>
    </section>
    <section class="flexslider bannerImgM">
        <ul class="slides">
            
            @foreach (var item in Model.MoblieBannerList)
            {
            <li>
                <img src="~/FileUploads/BannerPhoto/@item.FileName" />
                <div class="slide-info">
                    <div class="slide-con">
                        <h2>@item.Title</h2>
                        <p>@Html.Raw(item.Description)</p>
                    </div>
                </div>
            </li>
            }
        </ul>
    </section>


    <section class="recent-news">
        <h2 class="text-center">最新消息</h2>
        <div class="container">
            <div class="row">

                @foreach (var item in Model.NewsList)
                {
                    
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <a href="@Url.Action("Detail","News" , new { id = item.ID })">
                                <img src="~/FileUploads/NewsPhoto/@item.MainImage" class="img-responsive">
                                <h3>@item.Title</h3>
                                <h3>@item.SubTitle</h3>
                                <p>@item.OnlineTime.ToString("dd MMM yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</p>
                            </a>
                        </div>
                    </div>
                }

                <div class="center-btn">
                    <a href="@Url.Action("Index","News")" class="btn-default">Read More</a>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
}
