﻿<div id="page-content" class="productBlock">
    <section class="product-tab">
        <div class="container">
            <div class="row">
                <div id="parentVerticalTab">
                    <h2>服務項目</h2>
                    <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                        <li><i class="fa fa-plane"></i>生活體驗類</li>
                        <li><i class="fa fa-home"></i>不動產投資考察類</li>
                        <li><i class="fa fa-usd"></i>金融服務類</li>
                        <li><i class="fa fa-cog"></i>物業管理類</li>
                    </ul>
                    <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="fa fa-plane"></i></span>
                                    生活體驗類
                                </h4>
                                <ul>
                                    <li class="square-ul">台越簽證、機票代購</li>
                                    <li>胡志明地區機場中文翻譯人員接、送服務</li>
                                    <li>胡志明市住宿安排及行程規劃</li>
                                    <li>胡志明地區投資標地環境體驗</li>
                                    <li>越南全境度假型遊程規劃及安排</li>
                                </ul>
                            </div>
                            <img src="~/Content/images/product-img.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="fa fa-home"></i></span>
                                    不動產投資考察類
                                </h4>
                                <ul>
                                    <li>胡志明市現地不動產發展及考察專案說明</li>
                                    <li>胡志明市潛力發展區現地踏勘專案行程</li>
                                    <li>海外購屋流程案例說明及服務項目</li>
                                    <li>在地律師諮詢服務</li>
                                    <li>週邊服務產業（設計公司、裝修成果、樣品屋參觀）考察導覽</li>
                                </ul>
                            </div>
                            <img src="~/Content/images/1.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="fa fa-usd"></i></span>
                                    金融服務類
                                </h4>
                                <ul>
                                    <li>協助胡志明地區個人銀行開戶及網路銀行辦理</li>
                                    <li>協助處理海外資金轉入個人帳戶</li>
                                    <li>協助處理不動產及衍生資金匯回台灣</li>
                                    <li>協助販售、租賃等相關投資所得資金匯回台灣</li>
                                </ul>
                            </div>
                            <img src="~/Content/images/3.jpg" alt="" class="img-responsive" />
                        </div>
                        <div>
                            <div class="prod-tab-content">
                                <h4>
                                    <span class="prod-cion"><i class="fa fa-cog"></i></span>
                                    物業管理類
                                </h4>
                                <ul>
                                    <li>胡志明市潛力物件挖掘及分析</li>
                                    <li>不動產購置、出售暨提供委託租賃管理服務</li>
                                    <li>委託物件定期現地實拍回傳服務</li>
                                    <li>長租型物件客戶帶看及代為出租管理服務</li>
                                    <li>日租房屋行銷及飯店式管理</li>
                                    <li>建案出售協助</li>
                                    <li>一般日常維護管理</li>
                                    <li>相關金融及法律規定諮詢</li>
                                </ul>
                            </div>
                            <img src="~/Content/images/2.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>

    <script>
        $(function () {
            $('footer').addClass('footer2');
        });
    </script>
}
