﻿@model Three.Areas.Admin.ViewModels.Project.ProjectView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增案例" : "編輯案例";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        案例管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "ProjectAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubTitle)
                                        @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SubTitle, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Type)
                                        @Html.DropDownListFor(model => model.Type, Model.TypeList, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainImage)
                                        <input type="file" id="photo_file" name="file" accept="image/x-png,image/jpeg">
                                        <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(建議尺寸:高437 x 寬643 px, jpg檔)</p>
                                        @Html.ValidationMessageFor(model => model.MainImage, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.MainImage))
                                        {
                                            <img src="~/FileUploads/ProjectPhoto/@Model.MainImage" class="img-thumbnail" style="width:400px" />
                                            @Html.HiddenFor(model => model.MainImage)
                                            <br />
                                            @Html.ActionLink("刪除圖片", "DeleteImage", "ProjectAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                    <div id="ProjectBannerAlert">
                                        <p style="color:green">儲存後可進行案例內容圖片管理</p>
                                    </div>
                                    <div id="ProjectBannerLink" class="hidden">
                                        <div class="form-group">
                                            <a href="@Url.Action("ProjectImage", "BannerAdmin", new { projectId = Model.ID} )" class="btn btn-default">案例分享圖片管理</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Content)
                                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @style = "height:100px" })
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sort)
                                        @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                    </div>

                                    <div id="ProjectDetail">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreaID)
                                            @Html.DropDownListFor(model => model.AreaID, Model.AreaList, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address)
                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Link)
                                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Footage)<p class="help-block">直接在坪數後面輸人單位</p>
                                            @Html.TextBoxFor(model => model.Footage, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Footage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="check-box-status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("刪除本篇案例", "Delete", "ProjectAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        @Html.ActionLink("取消/回列表", "Index", "ProjectAdmin", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script>
        $(function () {
            //ckeditor初始化
            var config = { width: '750px', filebrowserImageUploadUrl: '/ProjectAdmin/UploadPicture' };
            CKEDITOR.editor.replace(
                'Content',
                config
            );

            TypeDetail();
        });

        $('#Type').change(function () {
            TypeDetail();
        });

        function TypeDetail()
        {
            var Id = '@Model.ID';
            if (Id != '0')
            {
                $('#ProjectBannerLink').removeClass('hidden');
            }
            else
            {
                $('#ProjectBannerLink').addClass('hidden');
            }
            if ($('#Type').val() == '2')
            {
                $('#ProjectDetail').hide();
            }
            else
            {
                $('#ProjectDetail').show();
            }
        }
    </script>
}

