﻿@model Three.Areas.Admin.ViewModels.Project.ProjectIndexView

<section class="content-header">
    <h1>
        案例管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ProjectAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "inputTitle", @placeholder = "標題" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Type, Model.TypeOptions, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaID, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.AreaID, Model.AreaOptions, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Status, Model.StatusOptions, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">搜尋</button>
                            @Html.ActionLink("新增案例", "Edit", "ProjectAdmin", new { }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">案例清單</h3>
                </div>
                <div class="box-body">
                    <table id="dataList" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(p => p.Title)</th>
                                <th>@Html.DisplayNameFor(p => p.Type)</th>
                                <th>@Html.DisplayNameFor(p => p.AreaID)</th>
                                <th>@Html.DisplayNameFor(p => p.Sort)</th>
                                <th>@Html.DisplayNameFor(p => p.Status)</th>
                                <th>@Html.DisplayNameFor(p => p.UpdateTime)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                var statusStyle = item.Status ? "label-success" : "label label-danger";
                                var statusDisplay = item.Status ? "啟用" : "停用";
                                var area_name = item.AreaID == 0 ? "無" : Model.AreaOptions[item.AreaID].Text;
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@Model.TypeOptions[Convert.ToInt32(item.Type)].Text</td>
                                    <td>@area_name</td>
                                    <td>@item.Sort</td>
                                    <td>
                                        <span class="label @statusStyle">@statusDisplay</span>
                                    </td>
                                    <td>@item.UpdateTime</td>

                                    <td>
                                        @Html.ActionLink("編輯", "Edit", "ProjectAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("刪除", "Delete", "ProjectAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(p => p.Title)</th>
                                <th>@Html.DisplayNameFor(p => p.Type)</th>
                                <th>@Html.DisplayNameFor(p => p.AreaID)</th>
                                <th>@Html.DisplayNameFor(p => p.Sort)</th>
                                <th>@Html.DisplayNameFor(p => p.Status)</th>
                                <th>@Html.DisplayNameFor(p => p.UpdateTime)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(function () {
            $('#dataList').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                'ordering': true,
                'order': [[3, 'asc']],
                'info': true,
                'autoWidth': false
            });
        })

    </script>
}


